### Configuration

In [ ]:
#pyrebase

In [10]:
import sys
!{sys.executable} -m pip install pandas

Collecting pandas
  Downloading pandas-1.2.3-cp38-cp38-win32.whl (8.2 MB)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\snowbird\envs\firebase\lib\site-packages (from pandas) (2.8.1)
Collecting numpy>=1.16.5
  Downloading numpy-1.20.2-cp38-cp38-win32.whl (11.4 MB)
Requirement already satisfied: six>=1.5 in c:\users\snowbird\envs\firebase\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.20.2 pandas-1.2.3 pytz-2021.1

WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the 'C:\Users\Snowbird\Envs\firebase\Scripts\python.exe -m pip install --upgrade pip' command.

In [21]:
import pyrebase
import json
import pandas as pd
import numpy as np
config = {
    "apiKey": "AIzaSyClvaq9O3cpzeVaBwoltdM2cgdUaqhkb8w",
    "authDomain": "authtest-caf38.firebaseapp.com",
    "databaseURL": "https://authtest-caf38-default-rtdb.firebaseio.com",
    "projectId": "authtest-caf38",
    "storageBucket": "authtest-caf38.appspot.com",
    "messagingSenderId": "357691121267",
    "appId": "1:357691121267:web:7ec814b9b549e0d0fd5406"
  }

### Initialize app and Create DB instance

In [2]:
firebase = pyrebase.initialize_app(config)

In [3]:
db = firebase.database()

In [4]:
locations = db.child("location").get()
print(json.dumps(locations.val(),sort_keys=True, indent=4))

{
    "-MW_piryasX_LYBlKQxc": {
        "location": "exp://192.168.0.188:19000",
        "user": "123"
    },
    "-MW_pwnGjqdpuFFXIbsG": {
        "location": "Table 7",
        "user": "123"
    },
    "-MW_q-FFIbKtGLCtGBEd": {
        "location": "Table 2",
        "user": "123"
    },
    "-MWiyHCWPjWjfTC5qaJf": {
        "location": "exp://192.168.86.129:19000",
        "user": "123"
    },
    "-MWoK89jgCYRUoJ_k28S": {
        "location": "exp://10.0.0.180:19000",
        "user": "123"
    },
    "-MWoNiIPC683XbKhtIPJ": {
        "location": "exp://10.0.0.180:19000",
        "user": "123"
    },
    "-MWoc09CDGdDioN-bIod": {
        "location": "exp://10.0.0.180:19000",
        "user": "123"
    },
    "-MWocUx80Yzg0Ozz4OjS": {
        "location": "exp://10.0.0.180:19000",
        "user": "123"
    },
    "-MWofQWj7ev9tOLwrpfw": {
        "location": "exp://10.0.0.180:19000",
        "user": "123"
    },
    "-MWofUdAymLNM9GWYnxs": {
        "location": "exp://10.0.0.180:19000",
        "user": "123"
    },
    "-MWofZqN_3o7DiEYbwuH": {
        "location": "exp://10.0.0.180:19000",
        "user": "123"
    },
    "-MWofufpxQM2bF2CADmv": {
        "location": "exp://10.0.0.180:19000",
        "user": "123"
    },
    "-MWoieze0TasuNlNA5zt": {
        "location": "exp://10.0.0.180:19000",
        "user": "123"
    },
    "-MWqqaMfIzQfb4JdE0pi": {
        "location": "exp://10.0.0.180:19000",
        "user": "123"
    },
    "-MWqrsE8ukQBoD_DpF3m": {
        "location": "exp://10.0.0.180:19000",
        "user": "123"
    },
    "-MWzBAz8ef0GyMJeSoAu": {
        "location": "exp://192.168.86.129:19000",
        "user": "123"
    }
}

In [ ]:
# "created_at", "customer_id", "id", "line_items"

# orders_json = json.dumps(orders.val())
# df = pd.read_json(orders_json)

 ### Cleaning

In [5]:
locations.val()

OrderedDict([('-MW_piryasX_LYBlKQxc',
              {'location': 'exp://192.168.0.188:19000', 'user': '123'}),
             ('-MW_pwnGjqdpuFFXIbsG', {'location': 'Table 7', 'user': '123'}),
             ('-MW_q-FFIbKtGLCtGBEd', {'location': 'Table 2', 'user': '123'}),
             ('-MWiyHCWPjWjfTC5qaJf',
              {'location': 'exp://192.168.86.129:19000', 'user': '123'}),
             ('-MWoK89jgCYRUoJ_k28S',
              {'location': 'exp://10.0.0.180:19000', 'user': '123'}),
             ('-MWoNiIPC683XbKhtIPJ',
              {'location': 'exp://10.0.0.180:19000', 'user': '123'}),
             ('-MWoc09CDGdDioN-bIod',
              {'location': 'exp://10.0.0.180:19000', 'user': '123'}),
             ('-MWocUx80Yzg0Ozz4OjS',
              {'location': 'exp://10.0.0.180:19000', 'user': '123'}),
             ('-MWofQWj7ev9tOLwrpfw',
              {'location': 'exp://10.0.0.180:19000', 'user': '123'}),
             ('-MWofUdAymLNM9GWYnxs',
              {'location': 'exp://10.0.0.180:19000', 'user': '123'}),
             ('-MWofZqN_3o7DiEYbwuH',
              {'location': 'exp://10.0.0.180:19000', 'user': '123'}),
             ('-MWofufpxQM2bF2CADmv',
              {'location': 'exp://10.0.0.180:19000', 'user': '123'}),
             ('-MWoieze0TasuNlNA5zt',
              {'location': 'exp://10.0.0.180:19000', 'user': '123'}),
             ('-MWqqaMfIzQfb4JdE0pi',
              {'location': 'exp://10.0.0.180:19000', 'user': '123'}),
             ('-MWqrsE8ukQBoD_DpF3m',
              {'location': 'exp://10.0.0.180:19000', 'user': '123'}),
             ('-MWzBAz8ef0GyMJeSoAu',
              {'location': 'exp://192.168.86.129:19000', 'user': '123'})])

In [6]:
locations_dict = pd.DataFrame(locations.val())

In [8]:
columns_old = locations_dict.columns
columns_old

Index(['-MW_piryasX_LYBlKQxc', '-MW_pwnGjqdpuFFXIbsG', '-MW_q-FFIbKtGLCtGBEd',
       '-MWiyHCWPjWjfTC5qaJf', '-MWoK89jgCYRUoJ_k28S', '-MWoNiIPC683XbKhtIPJ',
       '-MWoc09CDGdDioN-bIod', '-MWocUx80Yzg0Ozz4OjS', '-MWofQWj7ev9tOLwrpfw',
       '-MWofUdAymLNM9GWYnxs', '-MWofZqN_3o7DiEYbwuH', '-MWofufpxQM2bF2CADmv',
       '-MWoieze0TasuNlNA5zt', '-MWqqaMfIzQfb4JdE0pi', '-MWqrsE8ukQBoD_DpF3m',
       '-MWzBAz8ef0GyMJeSoAu'],
      dtype='object')

In [13]:
columns_ls_locations = ['-MW_piryasX_LYBlKQxc', '-MW_pwnGjqdpuFFXIbsG', '-MW_q-FFIbKtGLCtGBEd',
       '-MWiyHCWPjWjfTC5qaJf', '-MWoK89jgCYRUoJ_k28S', '-MWoNiIPC683XbKhtIPJ',
       '-MWoc09CDGdDioN-bIod', '-MWocUx80Yzg0Ozz4OjS', '-MWofQWj7ev9tOLwrpfw',
       '-MWofUdAymLNM9GWYnxs', '-MWofZqN_3o7DiEYbwuH', '-MWofufpxQM2bF2CADmv',
       '-MWoieze0TasuNlNA5zt', '-MWqqaMfIzQfb4JdE0pi', '-MWqrsE8ukQBoD_DpF3m',
       '-MWzBAz8ef0GyMJeSoAu']


columns_ls_orders = ['-MW_pM0pEch3dDoHZG0Q', '-MW_pQf_FsTiUj8o47Hp', '-MW_pTcdKVnoIblt0inx',
       '-MW_pgsFWmAFqvBYNKGz', '-MWbeV0FYiuufU2SNAxH', '-MWdi97_Mo4ACk1d4w0s',
       '-MWfkiau2GOEdj4F8RlM', '-MWg6OXOqVdyJeToxZkE', '-MWgAqBsMj513GCEXhiN',
       '-MWgAu7aS8s9yFDjPwTk', '-MWgBCnBhS2Tb4uaItnO', '-MWiy7GGm5W_wgmahE9R',
       '-MWoJxY22NJsCGvWZIPB', '-MWoNbGR6hrApSfWSxu7', '-MWobvsyCCpA8bYtohfP',
       '-MWocOf4orEE7T77_j4L', '-MWofMYIjR9gZEv30bVo', '-MWofSWHv-xZ0nq-klVV',
       '-MWofXvLxWSVokzuUlaN', '-MWoft6sh9KtvysiT6gB', '-MWoibCLwjA89rxrYbRb',
       '-MWqqYk3eRUZqhxcF9it', '-MWqrlPRDE_0Quy9XExb', '-MWzB8SVMYrL4IeJx8kc']

In [17]:
columns_new = [x[1:] for x in columns_ls_locations if x[0] == "-"]

In [18]:
# Show first 5 columns that have been changed
columns_new[0:5]

['MW_piryasX_LYBlKQxc',
 'MW_pwnGjqdpuFFXIbsG',
 'MW_q-FFIbKtGLCtGBEd',
 'MWiyHCWPjWjfTC5qaJf',
 'MWoK89jgCYRUoJ_k28S']

In [19]:
locations_dict.columns = columns_new
locations_dict.columns

Index(['MW_piryasX_LYBlKQxc', 'MW_pwnGjqdpuFFXIbsG', 'MW_q-FFIbKtGLCtGBEd',
       'MWiyHCWPjWjfTC5qaJf', 'MWoK89jgCYRUoJ_k28S', 'MWoNiIPC683XbKhtIPJ',
       'MWoc09CDGdDioN-bIod', 'MWocUx80Yzg0Ozz4OjS', 'MWofQWj7ev9tOLwrpfw',
       'MWofUdAymLNM9GWYnxs', 'MWofZqN_3o7DiEYbwuH', 'MWofufpxQM2bF2CADmv',
       'MWoieze0TasuNlNA5zt', 'MWqqaMfIzQfb4JdE0pi', 'MWqrsE8ukQBoD_DpF3m',
       'MWzBAz8ef0GyMJeSoAu'],
      dtype='object')

In [20]:
locations_dict

,MW_piryasX_LYBlKQxc,MW_pwnGjqdpuFFXIbsG,MW_q-FFIbKtGLCtGBEd,MWiyHCWPjWjfTC5qaJf,MWoK89jgCYRUoJ_k28S,MWoNiIPC683XbKhtIPJ,MWoc09CDGdDioN-bIod,MWocUx80Yzg0Ozz4OjS,MWofQWj7ev9tOLwrpfw,MWofUdAymLNM9GWYnxs,MWofZqN_3o7DiEYbwuH,MWofufpxQM2bF2CADmv,MWoieze0TasuNlNA5zt,MWqqaMfIzQfb4JdE0pi,MWqrsE8ukQBoD_DpF3m,MWzBAz8ef0GyMJeSoAu
location,exp://192.168.0.188:19000,Table 7,Table 2,exp://192.168.86.129:19000,exp://10.0.0.180:19000,exp://10.0.0.180:19000,exp://10.0.0.180:19000,exp://10.0.0.180:19000,exp://10.0.0.180:19000,exp://10.0.0.180:19000,exp://10.0.0.180:19000,exp://10.0.0.180:19000,exp://10.0.0.180:19000,exp://10.0.0.180:19000,exp://10.0.0.180:19000,exp://192.168.86.129:19000
user,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123,123

In [43]:
# col_len = locations_dict

# Drop user index
locations_only_location = pd.DataFrame(locations_dict.iloc[0])
locations_only_location['user'] = '123'

locations_only_location['account'] = locations_only_location.index #.reindex(list(np.arange(0, 15)))
locations_only_location

                                       location user              account
MW_piryasX_LYBlKQxc   exp://192.168.0.188:19000  123  MW_piryasX_LYBlKQxc
MW_pwnGjqdpuFFXIbsG                     Table 7  123  MW_pwnGjqdpuFFXIbsG
MW_q-FFIbKtGLCtGBEd                     Table 2  123  MW_q-FFIbKtGLCtGBEd
MWiyHCWPjWjfTC5qaJf  exp://192.168.86.129:19000  123  MWiyHCWPjWjfTC5qaJf
MWoK89jgCYRUoJ_k28S      exp://10.0.0.180:19000  123  MWoK89jgCYRUoJ_k28S
MWoNiIPC683XbKhtIPJ      exp://10.0.0.180:19000  123  MWoNiIPC683XbKhtIPJ
MWoc09CDGdDioN-bIod      exp://10.0.0.180:19000  123  MWoc09CDGdDioN-bIod
MWocUx80Yzg0Ozz4OjS      exp://10.0.0.180:19000  123  MWocUx80Yzg0Ozz4OjS
MWofQWj7ev9tOLwrpfw      exp://10.0.0.180:19000  123  MWofQWj7ev9tOLwrpfw
MWofUdAymLNM9GWYnxs      exp://10.0.0.180:19000  123  MWofUdAymLNM9GWYnxs
MWofZqN_3o7DiEYbwuH      exp://10.0.0.180:19000  123  MWofZqN_3o7DiEYbwuH
MWofufpxQM2bF2CADmv      exp://10.0.0.180:19000  123  MWofufpxQM2bF2CADmv
MWoieze0TasuNlNA5zt      exp://10.0.0.180:19000  123  MWoieze0TasuNlNA5zt
MWqqaMfIzQfb4JdE0pi      exp://10.0.0.180:19000  123  MWqqaMfIzQfb4JdE0pi
MWqrsE8ukQBoD_DpF3m      exp://10.0.0.180:19000  123  MWqrsE8ukQBoD_DpF3m
MWzBAz8ef0GyMJeSoAu  exp://192.168.86.129:19000  123  MWzBAz8ef0GyMJeSoAu

### Write Out

In [54]:
master_df = locations_only_location

In [55]:
master_df.to_csv("C:\\Users\Snowbird\Documents\Joshua\Personal\Technical\GitHub\Firebase\locations.csv", index=False)

### Analyze

In [174]:
master_df_ordered_filtered.describe()

,version,net_amounts.discount_money.amount,net_amounts.service_charge_money.amount,net_amounts.tax_money.amount,net_amounts.tip_money.amount,net_amounts.total_money.amount,total_discount_money.amount,total_money.amount,total_service_charge_money.amount,total_tax_money.amount,total_tip_money.amount
count,24.0,24.0,24.0,24.0,24.0,24.000000,24.0,24.000000,24.0,24.0,24.0
mean,1.0,0.0,0.0,0.0,0.0,1096.666667,0.0,1096.666667,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,1762.430182,0.0,1762.430182,0.0,0.0,0.0
min,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
25%,1.0,0.0,0.0,0.0,0.0,110.000000,0.0,110.000000,0.0,0.0,0.0
50%,1.0,0.0,0.0,0.0,0.0,437.500000,0.0,437.500000,0.0,0.0,0.0
75%,1.0,0.0,0.0,0.0,0.0,1000.000000,0.0,1000.000000,0.0,0.0,0.0
max,1.0,0.0,0.0,0.0,0.0,6375.000000,0.0,6375.000000,0.0,0.0,0.0